<div class="margin">
                                        <div class="align-content-center">
                                            <div class="s-12 m-8 l-6">
                                                <div class="margin">
                                                    <div class="s-12 m-6 l-6">
                                                        <h6>Profil Benma</h6>
                                                        <div class="margin margin-bottom">
                                                            <div class="s-12 l-12 m-12">
                                                                <small>Nama Lengkap</small>
                                                                <input name=realname placeholder="Nama" class=wideBox type=text autocomplete=off>
                                                                <small>No. Hp</small>
                                                                <input name=usr_phone placeholder="No. Hp" class=wideBox type=text autocomplete=off>
                                                                <small>Email</small>
                                                                <input name=usr_email placeholder="Email" class=wideBox type=text autocomplete=off>
                                                                <small>Nama Login</small>
                                                                <input name=nickname placeholder="Username" class=wideBox type=text autocomplete=off>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="s-12 m-6 l-6">
                                                        <h6>Ubah Password</h6>
                                                        <div class="margin margin-bottom">
                                                            <div class="s-12 l-12 m-12">
                                                                <small>Password sebelumnya</small>
                                                                <input name=passwd1 placeholder="•••••••" class=wideBox type=text autocomplete=off>
                                                                <small>Password baru</small>
                                                                <input name=passwd2 placeholder="•••••••" class=wideBox type=text autocomplete=off>
                                                                <small>Konfirmasi Password baru</small>
                                                                <input name=passwd3 placeholder="•••••••" class=wideBox type=text autocomplete=off>
                                                            </div>                                            
                                                        </div>
                                                    </div>
                                                    <div class="s-12 m-12 l-12 text-center">
                                                        <button id="data-operator" class="btn btn-linear btn-success" data-icon="unlock_alt"><i class="icon icon-unlock_alt"></i>Proses</button>
                                                    </div>                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
