<div class="margin">
                                        <div class="align-content-center">
                                            <div class="s-12 m-8 l-10">
                                                <h5>Biodata Pemohon</h4>
                                                <small><i style=color:#c00>Tanda(*) Wajib diisi</i></small>
                                                <div class="margin margin-bottom">
                                                    <div class="s-12 l-12 m-12">
                                                        <div class="margin">
                                                            <div class="s-6 m-6 l-4">
                                                                <small>Nomor KTP /Nik*</small>
                                                                <input class="normal-form" name=nik placeholder=Nik type=number>
                                                            </div>
                                                            <div class="s-6 m-6 l-5">
                                                                <small>Nama*</small>
                                                                <input class="normal-form" name=nama placeholder=Nama>
                                                            </div>
                                                            <div class="s-6 m-6 l-3">
                                                                <small>Tempat lahir*</small>
                                                                <input class="normal-form" name=tpt_lahir placeholder="Tempat lahir">
                                                            </div>
                                                            <div class="s-6 m-6 l-3">
                                                                <small>Tanggal lahir*</small>
                                                                <input class="normal-form datepicker" name=tgl_lahir placeholder="dd/mm/yyyy" autocomplete="off">
                                                            </div>
                                                            <div class="s-6 m-6 l-3">
                                                                <small>Agama*</small>
                                                                <select class="normal-select" name=agama>
                                                                    <option value="">~Pilih Agama~
                                                                </select>
                                                            </div>
                                                            <div class="s-6 m-6 l-3">
                                                                <small>Jenis Kelamin*</small>
                                                                <select class="normal-select" name=gender>
                                                                    <option value="">~Pilih Jenis Kelamin~
                                                                </select>
                                                            </div>
                                                            <div class="s-6 m-6 l-3">
                                                                <small>Pendidikan Terakhir</small>
                                                                <select class="normal-select" name=pendidikan></select>
                                                            </div>
                                                            <div class="s-12 m-12 l-8">
                                                                <div class="selector-area margin">
                                                                    <div class="s-12 m-12 l-12">
                                                                        <div class="margin">
                                                                            <div class="s-12 m-8 l-8">
                                                                                <small>Alamat*</small>
                                                                                <textarea class="normal-form" name=alamat placeholder="Alamat" rows=2></textarea>
                                                                            </div>
                                                                            <div class="s-4 m-2 l-2">
                                                                                <small>Rt:</small>
                                                                                <input class="normal-form" name=rt placeholder=Rt>
                                                                            </div>
                                                                            <div class="s-4 m-2 l-2">
                                                                                <small>Rw:</small>
                                                                                <input class="normal-form" name=rw placeholder=Rw>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="l-4 m-6 s-6">
                                                                        <small>Kota/ Kabupaten</small>
                                                                        <select class="normal-select" name=kabupaten>
                                                                            <option value="">Pilih Kota / Kab
                                                                            <option value=61.12>Kab. Kubu Raya
                                                                            <option value=61.71>Kota Pontianak
                                                                        </select>
                                                                    </div>
                                                                    <div class="l-4 m-6 s-6">
                                                                        <small>Kecamatan</small>
                                                                        <select class="normal-select" name=kecamatan>
                                                                            <option value="">Pilih Kecamatan
                                                                        </select>
                                                                    </div>
                                                                    <div class="l-4 m-6 s-6">
                                                                        <small>Desa / Lurah</small>
                                                                        <select class="normal-select" name=kelurahan>
                                                                            <option value="">Pilih Kelurahan</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="s-12 m-12 l-4">
                                                                <div class="margin">
                                                                    <div class="s-6 m-6 l-12">
                                                                        <small>Kebangsaan</small>
                                                                        <select class="normal-select" name=negara></select>
                                                                    </div>
                                                                    <div class="s-6 m-6 l-12">
                                                                        <small>Pekerjaan</small>
                                                                        <select class="normal-select" name=pekerjaan></select>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="s-6 m-6 l-4">
                                                        <small>Nomor Passport</small>
                                                        <input class="normal-form" name=passport placeholder="Nomor Passport">
                                                    </div>
                                                    <div class="s-6 m-6 l-4">
                                                        <small>Nomor HP</small>
                                                        <input class="normal-form" name=hp placeholder="Nomor HP">
                                                    </div>
                                                    <div class="s-6 m-6 l-4">
                                                        <small>Sponsor</small>
                                                        <input class="normal-form" name=sponsor placeholder="Nama Penjamin/Sponsor">
                                                    </div>
                                                    <div class="s-12 m-12 l-12">
                                                        <div class="margin">
                                                            <div class="align-content-center margin-top">
                                                                <label class="input-option">
                                                                    <input type="checkbox" name="chk-kriminal">
                                                                    <span class="border circle"><i class="icon-check"></i></span>
                                                                    <i class="text ">Ceklis jika ada catatan kriminal</i>											
                                                                </label>
                                                            </div>
                                                            <div class="align-content-center">
                                                                <div class="s-12 m-12 l-8 center">
                                                                    <textarea class="normal-form" name="kriminal" placeholder="Catatan Kriminal" rows=2></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                                