<div class="margin">
                                        <div class="s-12 m-6 l-4">
                                            <h6>KOP Satuan</h6>
                                            <div class="margin margin-bottom">
                                                <div class="s-12 l-12 m-12">
                                                    <small>Username* <span class=signup-error></span></small>
                                                    <input placeholder="Nomor KTP" class=wideBox type=number>
                                                </div>
                                            </div>
                                        </div>{{if login_role === 4}}                             
                                        <div class="s-12 m-6 l-8">
                                            <h6>Daftar Keperluan</h6>
                                            <div class="margin margin-bottom">
                                                <div class="s-12 l-12 m-12">
                                                    <small>Username* <span class=signup-error></span></small>
                                                    <input placeholder="Nomor KTP" class=wideBox type=number>
                                                </div>                                            
                                            </div>
                                        </div>{{endif}}
                                    </div>