{{@extends:templates/components/frame.html}}
{{@section:header}}
    {{'templates/components/header.html'}}
{{@endsection}}
{{@section:content}}
    <div class="line">
        <div class="margin">
            <div class="s-12 m-12 l-12 margin-bottom">
                <div id="edit-pemohon">	
                    <div class="box box-content">
                        <h4 class="text-center">Blank</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{@endsection}}
{{@section:footer}}
    {{'templates/components/footer.html'}}
{{@endsection}}