{{@extends:templates/components/frame.html}}
{{@section:header}}
    {{'templates/components/header.html'}}
{{@endsection}}
{{@section:content}}
    <div class="line">
        <div class="margin">
            <div class="s-12 m-12 l-12 margin-bottom">
                <div class="box box-content box-h250 text-center">
                    <div class="animated_logo warning">
                        <i class="icon-warning"></i>
                    </div> 
                    <div class="animated_logo error">
                        <i class="icon-cancel_circle"></i>
                    </div> 
                    <div class="animated_logo danger">
                        <i class="icon-warning"></i>
                    </div>
                    <div class="animated_logo info">
                        <i class="icon-information_black"></i>
                    </div>
                    <div class="animated_logo success">
                        <i class="icon-check_circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{@endsection}}
{{@section:footer}}
    {{'templates/components/footer.html'}}
{{@endsection}}