<div class="line">
       <div class="row-top">
           <div style="padding:3px" class="s-12 m-12 l-6">
               <!-- <a href="http://localhost/www.polrestapontianak.org"> <img src="image/logo-resta-1.webp" class="hide-logo1">
               <img src="image/logo-resta-2.webp" class="hide-logo2"></a> -->
               <a href="./"> <img src="assets/image/logo.skck1.webp"></a>
           </div>
       </div>
     </div> 
     <!-- TOP NAV FOR LOGIN --> 
     <div class="line">
       <nav class="nav-group">
           <div class="nav-menu operator">
               <a style="color:#25d366;" href="./member" title="Dashboard"><i class="icon icon-chart"></i> Dashboard</a>
               <!-- <a style="color:#ffffff;" href="./" title="Profil Operator"><i class="icon icon-user"></i> User</a> -->
               <a style="color:#ecb857;" class="modal-logout-btn" title="Logout"><i  class="icon icon-signout"></i> Keluar</a>			  
           </div>
       </nav>
     </div>