<div class="line">
      <div class="row-top">
          <div style="padding:3px" class="s-12 m-12 l-6">
              <!-- <a href="http://localhost/www.polrestapontianak.org"> <img src="image/logo-resta-1.webp" class="hide-logo1">
              <img src="image/logo-resta-2.webp" class="hide-logo2"></a> -->
              <a href="./"> <img src="{{@base_script}}assets/image/logo.skck1.webp"></a>
          </div>
      </div>
    </div> 
    <!-- TOP NAV FOR LOGIN --> 
    <div class="line">
        <nav class="nav-group">
            <p class="nav-text">Menu</p>
            <div class="nav-menu s-12 l-10">
                <ul>                     
                    <li class="hide-68 hide-48"><a href="{{@base_script}}" class="icon-sli-home"></a></li>
                    <li>
                        <a href="{{@base_script}}register">Register</a>
                        <!-- <ul>
                        <li><a>Product 1</a></li>
                        <li><a>Product 2</a></li>
                        <li>
                            <a>Product 3</a>
                            <ul>
                                <li><a>Product 3-1</a></li>
                                <li><a>Product 3-2</a></li>
                                <li><a>Product 3-3</a></li>
                            </ul>
                        </li>
                        </ul> -->
                    </li>
                    <!-- <li><a href="{{@base_script}}member">Member</a></li> -->
                    <li><a class="modal-login-btn">Login</a></li>
                </ul>
            </div>
            <div class="nav-menu hide-s hide-m l-2">
                <a target="_blank" href="{{@media.instagram}}"><i class="icon-instagram_circle icon2x right padding"></i></a>			  
            </div>
        </nav>
    </div>